* {
  font-family: "Open Sans";
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  padding: 20px;
}

.about-container h1 {
  color: #28a745;
  margin-bottom: 15px;
}

.about-container p {
  color: #333;
  line-height: 1.6;
  max-width: 800px;
}
