* {
  font-family: "Open Sans", sans-serif;
}

.navbar-main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.button {
  display: inline-block;
  color: #4b4b4b;
  background-color: white;
  border: 2px solid #28a745;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
  margin: 0 15px;
}

.button:hover {
  background-color: #4caf50;
}

.button:active {
  background-color: #28a745;
  color: white;
}

.activebutton {
  background-color: #28a745;
  color: white;
}

#loading-spinner {
  display: none;
}

#loading-spinner.show {
  display: block;
}

@media (max-width: 768px) {
  .navbar-main {
    flex-direction: column;
  }
}
