<div class="button-container">
  <button class="accent-button" (click)="toggleCarForm()">Add car</button>

  <div *ngIf="showForm" class="overlay" id="form-overlay">
    <div class="form-container">
      <fa-icon
        [icon]="closeIcon"
        class="close-icon"
        (click)="toggleCarForm()"
      ></fa-icon>
      <form [formGroup]="addCarForm" (ngSubmit)="onSubmit()">
        <h2>Add Car Details</h2>
        <input
          type="text"
          placeholder="Model"
          required
          formControlName="model"
        />
        <input
          type="text"
          placeholder="Engine"
          required
          formControlName="engine"
        />
        <input
          type="text"
          placeholder="Color"
          required
          formControlName="color"
        />
        <button type="submit" class="submit-btn" [disabled]="!addCarForm.valid">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>

<div class="button-container">
  <i class="fa-solid fa-xmark"></i>
  <button class="car-button" (click)="filterCars('All')">All</button>
  <button class="car-button" (click)="filterCars('Octavia')">Octavia</button>
  <button class="car-button" (click)="filterCars('Kamiq')">Kamiq</button>
  <button class="car-button" (click)="filterCars('Superb')">Superb</button>
  <button class="car-button" (click)="filterCars('Kodiaq')">Kodiaq</button>
</div>

<div class="car-list">
  <p *ngIf="noCarsAvailable">No cars available</p>
  <div *ngFor="let car of filteredCars; let i = index" class="car-container">
    <div class="car-card">
      <div class="car-info">
        <h3 class="car-model">{{ car.model }}</h3>
        <p class="car-engine">{{ car.engine }}</p>
      </div>
      <div class="car-color" [style.backgroundColor]="car.color"></div>
    </div>
    <button class="remove-button" (click)="removeCar(i)">Remove</button>
  </div>
</div>

<div id="loading-spinner" style="display: none">
  <app-loading-spinner></app-loading-spinner>
</div>
